* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}



/* h1 {
    color: red;
    font-size: 80px;

}

h2 {
    color: green;
} */

.main_text {
    text-align: center;
    text-decoration: none;
    /* text-indent: -20px; */
    /* letter-spacing: 15px; */
    /* word-spacing: 25px; */
}

#website_header {
    color: #1D1618;
    text-shadow: 3px 2px 4px yellow;
}

#subtitle {
    color: #423237;
}


a:hover {
    background-color: #faeee7;
}

input:active {
    background-color: #faeee7;
}

a:visited {
    color: salmon;
}

a {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    min-width: 150px;
    background-color: white;
    display: inline-block;
}

ul {
    /* list-style-type: square; */
    /* list-style: url("../images/blue_dot.png") square outside; */
    list-style-type: none;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}

.company_photo {
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    margin: 15px 30px auto auto ;
    padding: 50px;
    border: 2px dotted black ;
    border-radius: 100px;
    box-sizing: content-box;
    box-shadow: 5px 10px 0px pink;
    display: inline-block;
    vertical-align: middle;
    }

#photo1 {
    /* background-image: url("../images/cherryblossoms.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: center center; */
    background: green url("../images/cherryblossoms.jpeg") no-repeat center center;
    background-size: auto;
    position: relative;
    z-index: 3;
}

#photo2 {
    background: yellowgreen url("../images/orchids.jpeg") no-repeat center center;
    background-size: auto;
}

#photo3 {
    background: yellow url("../images/rose.jpeg") no-repeat center center;
    background-size: auto;
}

#photo4 {
    background: yellow url("../images/daisies.jpeg") no-repeat center center;
    background-size: auto;
}

#photo5 {
    background: yellow url("../images/tulips.jpeg") no-repeat center center;
    background-size: auto;
}

#container {
    width: 85%;
    /* min-width: fit-content; */
    margin: auto;
    background-color: #faeee7;
    text-align: center;
    padding: 65px
}

table {
    margin: auto;
    width: 100%;
}

nav {
    margin-bottom: 20px;
}

#currentpages {
    background-color: green
}

@media only screen and (max-width:600px) {
    a{
        display: block;
        width: 100%;
    }
}

footer {
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    /* height: 80px; */
    /* vertical-align: middle; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}